body{
    background-color: rgb(53, 52, 52);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 75px;
    line-height: 1.8;
}
h1 {
    font-size: 28px;
    color: rgb(119, 160, 43);
    font-family: fantasy;
    font-style: oblique;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(99, 180, 33);
}

p {
    font-size: 18px;
    line-height: 1.8;
}

strong {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(26, 204, 115);
}

img {
    border-radius: 5px;
    padding: 5px;
    border-color: aquamarine;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li::before {
    color: rgb(20, 145, 57);
    content: "•";
    font-size: 20px;
    margin-right: 10px;
}

dt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19px;
    color: rgb(33, 201, 55);
}